/* css reset www.admin10000.com */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
body {text-align: center; font-size:12px; font-family: "宋体"}
td,th,caption { font-size:13px; }
td {word-wrap: break-word;}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	font-size:xx-large;
	text-align: center;
	color: #00F;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
	font-size: 24px;
	color: #00F;
}
a { color:#555; text-decoration:none;}
a:hover { text-decoration:underline; }
img { border:none; margin: 0px; padding: 0px;}
ol,ul,li {
	list-style:none;
	font-size: 18px;
}
input, textarea, select, button { font:12px}
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.clear {
	clear: both;	
}
.main .content .int .int_con p {
	font-size: 16px;
	color: #000;
}
